


.dolar 
{
     color:white;
     text-align: center;
     margin-top: auto;
     background-color: rgb(62, 78, 29) ;
     padding: 5px;
     width: 90%;
     

}
.compra
{
     color:black;
     text-align: center;
     
     background-color: rgb(209, 247, 134) ;
     padding: 5px;
     width: 90%;
     
    
}
.numeros
{
     color:black;
     text-align: center;
     
     background-color: rgb(209, 247, 134) ;
     padding: 5px;
     width: 90%;
}
.variacion
{
    color:black;
     text-align: center;
     
     background-color:white;
     padding: 5px;
     width: 90%;
    }
    

.actualizado
{
    color:white;
    text-align: center;
    
    background-color: rgb(62, 78, 29);
    padding: 5px;
    width: 90%;
}

