
.vestimenta-boton-borrar
						{
						color: white;
						font-family: arial;
						font-weight: bold;
						font-size: 70%;

						background-color: red;
						box-shadow: 0px 2px #BB3E22;

						width: 100%;
						height: 30px;

						border-radius: 6px;
						border-color: #BB3E22;
						}
.vestimenta-boton-numero
					{
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 70%;

					background-color: #4b30ec;
					box-shadow: 0px 2px #00008B;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #00008B;
					}
.vestimenta-boton-igual
					{
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 70%;

					background-color: gold;
					box-shadow: 0px 2px #FFD700;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #FFD700;
					}
.vestimenta-boton-signo
					{
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 70%;

					background-color: limegreen;
					box-shadow: 0px 2px #228B22;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #228B22;
					}
.vestimenta-boton-display
                   {
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 70%;

					background-color: white;
					box-shadow: 0px 2px #808080;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #808080;
					}
