

h1{
	text-align: center;
}

table{
	border:solid ;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.vestimenta-boton-borrar
						{
						color: white;
						font-family: arial;
						font-weight: bold;
						font-size: 90%;

						background-color: red;
						box-shadow: 0px 3px  #972005;

						width: 100%;
						height: 30px;

						border-radius: 6px;
						border-color: #BB3E22;
						}
.vestimenta-boton-numero
					{
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 90%;

					background-color: #4b30ec;
					box-shadow: 0px 2px #00008B;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #00008B;
					}
.vestimenta-boton-igual
					{
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 90%;

					background-color: gold;
					box-shadow: 0px 2px #FFD700;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #FFD700;
					}
.vestimenta-boton-signo
					{
					color: white;
					font-family: arial;
					font-weight: bold;
					font-size: 90%;

					background-color: limegreen;
					box-shadow: 0px 2px #228B22;

					width: 100%;
					height: 30px;

					border-radius: 6px;
					border-color: #228B22;
					}
.vestimenta-boton-display
                   {
					
					font-family: arial;
					font-weight: bold;
					font-size: 70%;

					background-color: #ffffff;
					box-shadow:  -2px 1px ; #808080;

					width: 150px;
					height: 30px;

					border-radius: 7px;
					border-color: #808080;
					}
